<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | KirkCats</title>
    <meta
      name="description"
      content="An organization aiding to trap, neuter, return, and care for cats in Dekalb County, Georgia."
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <a href="/" class="website-title">
        <img src="/img/kirkcats_logo.png" height="50" width="68" alt="" />
        <h1>KirkCats</h1>
      </a>
      <nav>
        <ul>
          {% for page in pages %}
          <li>
            <a href="/{{page.fields.pageSlug}}.html"
              >{{ page.fields.pageTitle }}</a
            >
          </li>
          {% endfor %}
          <li>
            <a
              href="https://www.paypal.com/donate/?hosted_button_id=RBTCTRT77CVCE"
              target="_blank"
              rel="noopener noreferrer"
              class="donate-button"
              >Donate &#8599;<span class="visually-hidden">
                (opens in new window)</span
              ></a
            >
          </li>
        </ul>
      </nav>
    </header>

    {% if page.url == "/" %}
    <div class="hero-banner">
      <img src="/img/hero.jpg" alt="" />
    </div>
    {% endif %}

    <main>{{content}}</main>

    <footer>
      <div class="footer-icons">
        <a href="https://www.facebook.com/groups/KirkCats/">
          <img src="/img/facebook.svg" alt="Our Facebook Group" />
        </a>
        <a href="mailto:thekirkcats@gmail.com">
          <img src="/img/email.svg" alt="Email us" />
        </a>
      </div>
      <span>&copy; {{ "now" | date: "%Y" }} KirkCats</span>
    </footer>
  </body>
</html>
